.gestion-gatos{
    background-color: #FAF9F6;
    width: 100%;

    .TopBanner{
        /* margin-top: 2rem; */
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 13rem;
        width: auto;
        color: #fff;
        display: flex;
        justify-content: center; 
        align-items: center;  
    }

    h1{
        font-family: 'Quicksand', sans-serif;
        font-weight: bold;
        font-size: 3em;
        color: #808080
    }

    h3, h6{
        color: #808080;
        text-shadow: 2px 2px 4px rgba(143, 143, 143, 0.258);
    }

    .container{
        padding: 4rem;

        p{
            margin-bottom: 4rem;
            color: #808080
        }

        .card{
            padding: 0;
        }

         .tarjeta{
            height: 8.5rem;
            display: flex;
            justify-content: space-between; 
            align-items: center; 
            flex-direction: row;
            padding: 2rem; 
            border-radius: 10%;

            .img{
                height: auto;
                width: 7.5rem;
                border-radius: 50%;
            }

            .img-data{
                display: flex;
                justify-content: space-between; 
                align-items: center; 
                flex-direction: row; 
            }
            
            .data{
                margin-left: 1.8rem;
            }
        }
    }
}