.gatoInfo{
    margin: 0;
    background-color: #FAF9F6;

    .TopBanner{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 13rem;
        width: auto;
        color: #fff;
        display: flex;
        justify-content: center; 
        align-items: center;  
    
        h1{
            font-family: 'Quicksand', sans-serif;
            font-weight: bold;
            font-size: 3.8em;
        }
    }
    
    .Main{
        background-color: #FAF9F6;
        padding: 6rem 0;
    
        .border-irregular1{
            border-radius: 155px 45px 225px 75px/15px 125px 15px 155px;
            background-color: #ecc8af;
            padding: 1.8rem;
        }
    
        .border-irregular2{ 
            border-radius: 75px 125px 45px 155px/155px 15px 155px 15px;
        }
        
        .img-fluid{
            max-width: 100%;
            height: auto;
            margin-right: 1rem;
        }
    
        .icon-name{
            display: flex;
            align-items: center; 
            margin-bottom: 2rem;
            
            img {
                height: 4rem;
                width: auto;
            }
        }
        
        .cat-name{
          text-transform: uppercase;
        }
    
        .cat-data{
            width: 28rem
        }
    
        .cat-li{
          padding: .3rem;
            display: flex;

            p{
              text-transform: lowercase;
              margin: 0;
              padding-left: .2rem;
            }
            
            p::first-letter{
              text-transform: uppercase;
            }
        }
    
        .heartPaw{
            height: 1.5rem;
            width: auto;
            margin-right: 0.5rem;
        }
    
        .about-cat{
          color: #808080;
          margin-top: 2rem;
          padding: 0;
    
          h3{
            font-size: 2.3rem;
            letter-spacing: -1px;
          }
    
          .cat-list{
            margin: 1.5rem 0;
            font-weight: bold;
          }
    
          .rules{
            background-color: #c18c5d;
            padding: 1rem;
            color: #fff;
            border-radius: 1rem;
            margin: 4rem 0;
            
            h6{
              font-size: 1.4em;
              margin-bottom: 1rem;
            }
          }
    
          .back-button{
            border-radius: 355px 45px 225px 75px/15px 225px 15px 255px;
            background-color: #ce796b;
            border: none;
            padding: 0.7rem 2.5rem;
            margin-top: 1rem;
            color: white;
            transition: background-color 1s ease;
    
            i{
              margin-right: .6rem;
            }
          }

          .back-button:hover{
            background-color: #d36655;
          }
        }
    
    
    

    }
}

