.gestion-solicitudes{
    background-color: #FAF9F6;
    width: 100%;

    .TopBanner{
        /* margin-top: 2rem; */
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 13rem;
        width: auto;
        color: #fff;
        display: flex;
        justify-content: center; 
        align-items: center;  
    }

    h1{
        font-family: 'Quicksand', sans-serif;
        font-weight: bold;
        font-size: 3em;
        color: #808080;
        margin-top: 5rem;
    }

    h3, h6{
        color: #808080;
        text-shadow: 2px 2px 4px rgba(143, 143, 143, 0.258);
    }

    p{
        font-family: "Manrope", sans-serif;
        color: #808080
    }

    .solicitudes-card{
        margin-top: 4rem;
        margin-bottom: 1rem;

        .tabmenu{
            ul{
                background-color: #FAF9F6;
                li{
                    a{
                        text-decoration-line: none;
                        color: #808080;
                        background-color: #FAF9F6;
                    }
                }
            }
        }
    }
}