.body{
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

    * {
        margin: 0;
        padding: 0;
    
        box-sizing: border-box;
        font-family: sans-serif;
    }
    
    .fin{
        margin-top: 2.5rem;
    }
    @media print {
        .table{
         overflow: visible;
         height: auto !important;
         width: auto !important;
        }
       }
    .contenedor>h2{
        margin-bottom: 2rem;
    }
    table {
        width: 82vw;
        height: 40vh;
        background-color: #fff5;
    
        backdrop-filter: blur(7px);
        box-shadow: 0 .4rem .8rem #0005;
        border-radius: .8rem;
    
        overflow: hidden;
    }
    
    table, th, td {
        border-collapse: collapse;
        padding: 1rem;
        text-align: left;
    }
    
    thead th {
        position: sticky;
        top: 0;
        left: 0;
        background-color: #d5d1defe;
        cursor: pointer;
        text-transform: capitalize;
    }
    
    tbody tr:nth-child(even) {
        background-color: #0000000b;
    }
    
    button{
        margin-right: 2%;
        margin-left: 2%;
        border: none;
    }
    
    
    tbody tr.hide {
        opacity: 0;
        transform: translateX(100%);
    }
    
    tbody tr:hover {
        background-color: #fff6 !important;
    }

    
    
}
.body1{
    background: #ecc8af;

    button{
        background-color: #ce796b;
        color: white;
   }

   button:active {
        background-color: #E7AD99;
    }

   button:focus {
        outline: none; /* Opcional: quitar el borde del enfoque */
        background-color: #E7AD99;
   }
}

.p-button-rounded{
    border-radius: 2rem;
}

.boton{
    border-radius: 355px 45px 225px 75px/15px 225px 15px 255px;
    background-color: #ce796b;
    border: none;
    padding: 0.7rem 2.5rem;
    margin-top: 1rem;
    color: white;
    transition: background-color 1s ease;
    font-family: 'Quicksand', sans-serif !important;
    margin: 1rem 4rem 1rem 8rem ;

}

.boton:hover{
    background-color: #E7AD99;
}

.pruebita button{
    background: none;
}

.p-button-rounded{
    background-color: #e7ad99 !important;
    border: 1px solid white;
    padding: 1rem;
}

.imagen1{
    width: 9rem !important;
}
.texto{
    font-size: 14px;
    text-align: center;
}

.titulo{
    text-align: center;
}

.book-a-table-btn{
    font-family: 'Quicksand', sans-serif !important;
}

.prueba{
    width: 8rem;
}

.margen{
    padding: 0 2rem;
}