.reserva {
  height: 100%;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center; 
  align-items: center; 
  background: #E2C7BE;
  flex-direction: column;
  overflow-x: hidden;
}

.search-container {
  width: 100%;
  max-width: 800px; 
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column; 
  background: rgba(211,102,85,0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(211,102,85,0.5);
  border-radius: 27% 5% 27% 5% / 0% 25% 0% 25%;
  padding: 20px;
  
}

/* Estilos de los campos de búsqueda */
.search-box {
  width: 100%;
  margin-bottom: 10px;
}

.search-input,
.search-btn {
  width: calc(100% - 0px); 
  padding: 8.5px;
  border-radius: 3px;
}

.holi{
  border: 1px lightgray solid;
}

.search-input {
  font-size: 16px; 
}


.search-input[type="number"]::placeholder {
  font-size: 12px; 
}

/* Estilos del botón de búsqueda */

.search-btn:hover {
  background-color: #E7AD99 !important;
}

.search-btn:disabled {
  background-color: #fff !important; 
}

.search-btn:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
  background-color: #E7AD99 !important;
};


.search-btn  {
  border-radius: 355px 45px 225px 75px/15px 225px 15px 255px !important;
  background-color: #ce796b !important;
  border: none !important;
  padding: 0.7rem 2.5rem !important;
  margin-top: 1rem !important;
  color: white !important;
  transition: background-color 1s ease !important;
  font-family: 'Quicksand', sans-serif !important;
  margin: 1rem 2rem !important;
}



@media screen and (min-width: 768px) {
 .search-btn{
  border-radius: 355px 45px 225px 75px/15px 225px 15px 255px;
  background-color: #ce796b;
  border: none;
  padding: 0.7rem 2.5rem;
  margin-top: 1rem;
  color: white;
  transition: background-color 1s ease;
  font-family: 'Quicksand', sans-serif !important;
  margin: 1rem 0;
 }
  
  .search-container {
    flex-direction: row; 
  }

  .search-box {
    flex: 1; 
    margin-right: 10px;
    margin-bottom: 0;
  }

  .search-btn {
    width: auto;
  }

  .search-input {
    font-size: inherit; /* Restablecer el tamaño de fuente en dispositivos más grandes */
  }
}

.default-container {
  margin-top: 20px;
}

.default {
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px;
  background: rgba(255,255,255,0.25);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.125);
  padding: 1rem 2rem;
  border-radius: 10px;
}

.default th,
.default td {
  padding: 15px;
  text-align: center;
  border-radius: 50px;
  
}

.default th {
  background-color: #f2f2f2;
  border-radius: 25% 25% 25% 25% / 55% 0% 55% 0%;
  
}

.default td {
  border-radius: 25% 25% 25% 25% / 0% 55% 0% 55%;
  
}

.horaDisponible{
  background-color: aquamarine;
}
.horaNoDisponible{
  background-color: lightcoral;
}

/* Estilos para hacer la tabla responsive */
@media screen and (max-width: 767px) {
  .search-btn  {
    border-radius: 355px 45px 225px 75px/15px 225px 15px 255px !important;
    background-color: #ce796b !important;
    border: none !important;
    padding: 0.7rem 2.5rem !important;
    margin-top: 1rem !important;
    color: white !important;
    transition: background-color 1s ease !important;
    font-family: 'Quicksand', sans-serif !important;
    margin: 1rem 0rem !important;
  }
  .default-container {
    overflow-x: auto;
  }

  .default {
    width: 100%;
    display: block;
  }

  .default thead {
    display: flex;
  }

  .default tbody,
  .default thead,
  .default tr,
  .default th,
  .default td {
    display:block;
    width: 100%;
    text-align: center;
    
  }

  .default th,
  .default td {
    border: none;
    padding: 5px;
    text-align: center;
  }

  .default td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    width: 50%;
    padding-left: 15px;
  }
}

/*Acordeon de informacion en Reserva*/


.tabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  font-family: sans-serif;
}

.tabs__label {
  padding: 10px 16px;
  cursor: pointer;
  background: #fff;
  margin: 0 10px 0 0;
}

.tabs__radio {
  display: none;
}

.tabs__content {
  order: 1;
  line-height: 1.5;
  font-size: 0.9em;
  display: none;
  background: #fff;
  text-align: justify;
  width: 100%;
  -webkit-box-shadow: 1px 0.5px 7px 3px #bbbbbb;
  -moz-box-shadow: 1px 0.5px 7px 3px #bbbbbb;
  box-shadow: 1px 0.5px 7px 3px #bbbbbb;
}

.tabs__content p {
  width: 100% !important;
  padding: 0 80px;
}
.tabs__content p span {
  font-weight: bold;
  color: #ffb03b;
}

.tabs__radio:checked + .tabs__label {
  font-weight: bold;
  color: #ffb03b; 
  -webkit-box-shadow: 1px 0.5px 7px 3px #bbbbbb;
  -moz-box-shadow: 1px 0.5px 7px 3px #bbbbbb;
  box-shadow: 1px 0.5px 7px 3px #bbbbbb;
}

.tabs__radio:checked + .tabs__label + .tabs__content {
  display: initial;
}

.book-a-table{
  margin-top: 2rem;
  padding: 2rem;
  background: rgba(255,255,255,0.5);
-webkit-backdrop-filter: blur(10px);
backdrop-filter: blur(10px);
border: 1px solid rgba(255,255,255,0.25);
}
