.reserva {
  height: 100%;
  min-height: 100vh;
  margin: 0; /* Eliminar márgenes predeterminados */
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  background: rgb(255, 218, 185);
  background: linear-gradient(to bottom, #ecc8af, #ebc0a6, #e9b79d, #e7ad99, #dfa693, #d69e8d, #ce9377, #c57d65, #bd7260, #b4685b, #ac5d56, #a45351, #9c494c, #943f47, #8c3443, #84303f, #7c2b3b, #742737, #6c2233, #641d2f, #5c192b, #541426, #4c0f22, #440b1e, #3c061a, #340216, #35322d);
  flex-direction: column;
}

.search-container {
  width: 100%;
  max-width: 800px; /* Ancho máximo para pantallas grandes */
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  flex-direction: column; /* Para alinear los elementos verticalmente */
  background-color: #ffdab9; /* Color naranja claro */
  padding: 20px; /* Espaciado interno */
  border-radius: 10px; /* Border radius */
  
}

/* Estilos de los campos de búsqueda */
.search-box {
  width: 100%;
  margin-bottom: 10px;
}

.search-input,
.search-btn {
  width: calc(100% - 0px); /* Ajuste para compensar el padding */
  padding: 8.5px;
  border-radius: 3px;
}

.holi{
  border: 1px lightgray solid;
}
/* Estilos del desplegable */
.search-input {
  font-size: 16px; /* Tamaño de fuente más grande para mejorar la legibilidad */
}

/* Estilos para el input numérico */
.search-input[type="number"]::placeholder {
  font-size: 12px; /* Tamaño de fuente del placeholder reducido */
}

/* Estilos del botón de búsqueda */

.search-btn:hover {
  background-color: rgba(148, 187, 233, 1); /* Cambio de color al pasar el puntero */
}

.search-btn:disabled {
  background-color: #fff !important; /* Cambio de color al pasar el puntero */
}

.search-btn:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
};


.search-btn  {
  background-color: white !important;
  color: black;
  border-radius: 10em;
  font-size: 17px;
  font-weight: 600;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  border: 1px solid black;
  box-shadow: 0 0 0 0 black;
}


/* Estilos para la distribución en dispositivos pequeños */
@media screen and (min-width: 768px) {
  .search-container {
    flex-direction: row; /* Restablece la dirección del flujo a horizontal en pantallas más grandes */
  }

  .search-box {
    flex: 1; /* Permitir que los campos de entrada ocupen el espacio disponible */
    margin-right: 10px;
    margin-bottom: 0;
  }

  .search-btn {
    width: auto;
  }

  .search-input {
    font-size: inherit; /* Restablecer el tamaño de fuente en dispositivos más grandes */
  }
}

.default-container {
  margin-top: 20px;
  overflow-x: auto;
}

.default {
  border-collapse: collapse;
  width: 100%;
}

.default th,
.default td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.default th {
  background-color: #f2f2f2;
}

/* Estilos para hacer la tabla responsive */
@media screen and (max-width: 767px) {
  .default-container {
    overflow-x: auto;
  }

  .default {
    width: 100%;
  }

  .default thead {
    display: block;
  }

  .default tbody,
  .default thead,
  .default tr,
  .default th,
  .default td {
    display: block;
    width: 100%;
    text-align: left;
  }

  .default th,
  .default td {
    border: none;
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  .default td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    width: 50%;
    padding-left: 15px;
  }
}

/*Acordeon de informacion en Reserva*/


.tabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  font-family: sans-serif;
}

.tabs__label {
  padding: 10px 16px;
  cursor: pointer;
  background: #fff;
}

.tabs__radio {
  display: none;
}

.tabs__content {
  order: 1;
  line-height: 1.5;
  font-size: 0.9em;
  display: none;
  background: #fff;
  text-align: justify;
  width: 100%;
  box-shadow: 10px 5px 5px rgb(106, 106, 106);
}

.tabs__content p {
  width: 100% !important;
  padding: 0 80px;
}
.tabs__content p span {
  font-weight: bold;
  color: #ffb03b;
}

.tabs__radio:checked + .tabs__label {
  font-weight: bold;
  color: #ffb03b;
  border-top: 3px solid #dddddd;
  border-right: 3px solid #dddddd;
  border-left: 3px solid #dddddd;
}

.tabs__radio:checked + .tabs__label + .tabs__content {
  display: initial;
}
